


        <img width="100" src="{{ imgSrc }}" alt="">
        <br />

        <ul>
          <li *ngFor="let c of peopleByCountry" [ngSwitch]="c.country">
            <div *ngSwitchCase="'UK'" class="text-danger">{{c.country}}</div>
            <div *ngSwitchCase="'US'" class="text-success">{{c.country}}</div>
            <div *ngSwitchCase="'MARS'" class="text-warning">{{c.country}}</div>
            <div *ngSwitchDefault>{{c.country}}</div>
            <ul>
              <li *ngFor="let p of c.people">{{p.name}}</li>
            </ul>
          </li>
        </ul>
